@model List<AccountTypeModel>

@{
    ViewData["Title"] = "Account Types";
}

<h1>Account Types</h1>
<h5>The type of account refers to how we can group them, for example: debit, credit card, etc.</h5>

<a asp-action="Create" class="btn btn-primary mb-3">Create new</a>

<table class="table">
    <thead>
        <tr>
            <th>
            Actions
        </th>
        <th>
            Name
        </th>
            </tr>
    </thead>
    <tbody id="reorderTable">
        @foreach (var account in Model)
        {
            <tr>
                <td>
                    <input type="hidden" value="@account.Id" class="ids" />
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@account.Id">
                        Edit
                    </a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@account.Id">
                        Delete
                    </a>
                </td>
                <td>
                    @account.Name
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts{
    <script>
        const urlOrder = '@Url.Action("OrderAccounts")';


        $(function () {
            $("#reorderTable").sortable({
                stop: async function (e, ui) {
                    await updateOrders();
                }
            });

            async function updateOrders() {
                const ids = getIdsElements();

                await sendIdsToAction(ids);

            }

            function getIdsElements() {
                const ids = $(".ids").map(function () {
                    return $(this).val();
                }).get();

                return ids;
            }

            async function sendIdsToAction(ids) {
                var data = JSON.stringify(ids);

                await fetch(urlOrder, {
                    method: 'POST',
                    body: data,
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
            }
        })
    </script>


}